<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CategoryMapper">
    <resultMap id="categoryMap" type="com.xuecheng.framework.domain.course.ext.CategoryNode">
          <id property="id" column="a_id"/>
        <result property="name" column="a_name"/>
        <result property="label" column="a_label"/>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
            <id property="id" column="b_id"/>
            <result property="name" column="b_name"/>
            <result property="label" column="b_label"/>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.CategoryNode">
                <id property="id" column="c_id"/>
                <result property="name" column="c_name"/>
                <result property="label" column="c_label"/>
            </collection>
        </collection>
    </resultMap>
    <select id="findList" resultMap="categoryMap">
SELECT
  a.id a_id,
  a.name a_name,
  a.`label` a_label,
  b.id b_id,
  b.name b_name,
  b.`label` b_label,
  c.id c_id,
  c.`name` c_name,
  c.`label` c_label
FROM
  category a
INNER JOIN
   category b
ON a.id = b.`parentid`
INNER JOIN category c
ON c.`parentid` = b.`id`
where a.parentid=0
ORDER BY
  a.`orderby`,
  b.`orderby`,
  c.`orderby`
</select>
</mapper>